:root {
    --primary: #8CDCE1;
    --secondary: #FBD36A;
    --secondary-transparent: #FBD36A80;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--secondary-transparent);    
}

a{
    color: inherit;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(default.png);
    background-position: center;
    background-size: cover;
}

.hidden {
    display: none !important;
}

.material-symbols-outlined::selection {
    background-color: transparent;
}

ul {
    list-style-type: none;
}

input {
    border: none;
    color: inherit;
    font-size: unset;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--secondary-transparent);
}

.search {
    position: absolute;
    top: 20px;
    left: 550px;
    right: 310px;
    width: auto;
    padding: 10px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.411);
    color: var(--secondary);
    border: none;
    font-size: 1.1em;
    border-radius: 5px;
}

.date-time-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: var(--primary);
}

.date-time-container div {
    padding: 1px 3px;
}

.date-container {
    text-align: left;
}

.time {
    font-size: 3em;
}

.date {
    font-size: 1.5em;
}

.day {
    font-size: 1.1em;
    color: var(--secondary);
}

.to-do-list-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 20px;
    top: 20px;
    width: 480px;
}

.to-do-list-header {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.411);
    color: var(--primary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 2.5em;
}

.task-input-container input[type="text"] {
    width: calc(100% - 110px);
    padding: 10px;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0.796);
    color: var(--secondary);
    border-radius: 5px 0px 0px 5px;
    font-size: 1.1em;
}

.task-input-container button {
    padding: 10px;
    width: 110px;
    border: none;
    background-color: rgba(0, 0, 0, 0.796);
    ;
    color: var(--secondary);
    border-radius: 0px 5px 5px 0px;
    ;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    height: calc(100vh - 208px);
    overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.task-list {
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.task-list {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.task-list li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.411);
    color: var(--primary);
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list li button {
    background-color: transparent;
    border: none;
    color: var(--secondary);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.settings-container {
    position: absolute;
    bottom: 60px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #292929;
    color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    font-size: 1.1em;
    z-index: 999;
}

.settings-container li {
    display: flex;
    flex-direction: row;
    border-bottom: #717171 solid 1px;
    padding: 5px 5px 10px 5px;
    align-items: center;
}

.settings-container li.last {
    color: var(--secondary-transparent);
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0px;
}

.settings-container label {
    color: var(--secondary);
    font-weight: bold;
    min-width: 110px;
}

.settings-container input[type=text] {
    background-color: transparent;
    width: 100%;
}

.settings-container input[type=color] {
    background-color: transparent;
    margin-right: 20px;
    min-width: 50px;
    padding: 0px;
}

.settings-container button {
    font-size: inherit;
    min-width: 50px;
    height: 50px;
    background-color: transparent;
    color: var(--primary);
    border: none;
}

.settings-container button:hover {
    background-color: #717171;
    border-radius: 5px;
}

input[type=color]::-webkit-color-swatch {
    height: 20px;
    min-width: 50px;
    border-radius: 10px;
    border: none;
}

input[type=color]::-moz-color-swatch {
    height: 20px;
    min-width: 50px;
    border-radius: 10px;
    border: none;
}

.settings {
    font-size: 1.1em;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    color: var(--secondary-transparent);
}

.settings:hover {
    color: var(--secondary);
}

@media (max-width: 1500px) {
    .search {
        right: 20px;
    }

    .date-time-container {
        top: 80px;
    }
}

@media (max-width: 1100px) {
    .search {
        left: 20px;
    }

    .to-do-list-container {
        top: 80px;
    }

    .task-list {
        height: calc(100vh - 288px);
    }
}

@media (max-width: 780px) {
    .search {
        left: 20px;
    }
    
    .to-do-list-container {
        top: 184px;
        right: 20px;
        width: auto;
    }
    
        .task-list {
            height: calc(100vh - 410px);
        }
}
